:root {
	--background: hsla(183, 18%, 89%, 1);
	--text-color: hsla(0, 0%, 16%, 1);
	--link-color: hsla(208, 92%, 28%, 1);
}
@media (prefers-color-scheme: dark) {
	:root {
		--background: hsla(183, 5%, 21%, 1);
		--text-color: hsla(0, 0%, 85%, 1);
		--link-color: hsla(208, 83%, 61%, 1);
	}
}
html, body {
	background-color: var(--background);
	color: var(--text-color);
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
p {
	font-size: 1.3rem;
	line-height: 2.5;
	
	a {
		font-style: italic;
		font-weight: 400;
		letter-spacing: 0.02em;
		color: var(--text-color);
		text-decoration: none;
		strong {
			font-weight: 700;
		}
	}
	
}