<style>
	/* NAME - WEIGHT */
	/* @font-face {
		font-family: 'NAME';
		src: url('FONTURL') format("woff2-variations");
		font-style: normal;
	} */
</style>

<!-- <link rel="preload" as="font" href="FONTURL" type="font/woff2" crossorigin> -->