<link rel="preconnect" href="https://rsms.me/">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">

<style>
	/* NAME - WEIGHT */
	/* @font-face {
		font-family: 'NAME';
		src: url('FONTURL') format("woff2-variations");
		font-style: normal;
	} */
</style>

<!-- <link rel="preload" as="font" href="FONTURL" type="font/woff2" crossorigin> -->

<!--/------------------------------
FONT WEIGHTS : NAMES AND VALUES
100 THIN
200 EXTRA-LIGHT
300 LIGHT
400 REGULAR
500 MEDIUM
600 SEMI-BOLD
700 BOLD
800 EXTRA-BOLD
900 BLACK
---------------------------/-->